<h1 class="page-header">Dashboard Clínica XX</h1>
<div class="row">
  <div class="col-md-6">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Médicos</th>
          <th>CRM</th>
          <th>NFe</th>
          <th>Upload</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Fulano da Silva Oliveira</td>
          <td>43.562</td>
          <td><!-- Button trigger modal -->

<%= link_to '<i class="fa fa-money btn btn-primary" aria-hidden="true" data-toggle="modal" data-target="#myModal"> NFe</i>'.html_safe, "#"%>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Descrição</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</td>
<td><%= link_to '<i class="fa fa-cloud-upload"></i>'.html_safe, "#", class: "btn btn-primary btn-sm" %></td>

        </tr>
        <tr>
          <td>Ciclano Oliveira da Silva</td>
          <td>56.587</td>
          <td><!-- Button trigger modal -->
<%= link_to '<i class="fa fa-money btn btn-primary" aria-hidden="true" data-toggle="modal" data-target="#myModal"> NFe</i>'.html_safe, "#"%>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Descrição</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div></td>
<td><%= link_to '<i class="fa fa-cloud-upload"></i>'.html_safe, "#", class: "btn btn-primary btn-sm" %></td>
        </tr>
        <tr>
          <td>Beltrano Marcelo Silva</td>
          <td>49.957</td>
          <td><!-- Button trigger modal -->
<%= link_to '<i class="fa fa-money btn btn-primary" aria-hidden="true" data-toggle="modal" data-target="#myModal"> NFe</i>'.html_safe, "#"%>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Descrição</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div></td>
<td><%= link_to '<i class="fa fa-cloud-upload"></i>'.html_safe, "#", class: "btn btn-primary btn-sm" %></td>
        </tr>
        <tr>
          <td>Fulano da Silva Oliveira</td>
          <td>43.562</td>
          <td><!-- Button trigger modal -->
<%= link_to '<i class="fa fa-money btn btn-primary" aria-hidden="true" data-toggle="modal" data-target="#myModal"> NFe</i>'.html_safe, "#"%>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Descrição</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div></td>
<td><%= link_to '<i class="fa fa-cloud-upload"></i>'.html_safe, "#", class: "btn btn-primary btn-sm" %></td>
        </tr>
        <tr>
          <td>Ciclano Oliveira da Silva</td>
          <td>56.587</td>
          <td><!-- Button trigger modal -->
<%= link_to '<i class="fa fa-money btn btn-primary" aria-hidden="true" data-toggle="modal" data-target="#myModal"> NFe</i>'.html_safe, "#"%>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Descrição</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div></td>
<td><%= link_to '<i class="fa fa-cloud-upload"></i>'.html_safe, "#", class: "btn btn-primary btn-sm" %></td>
        </tr>
        <tr>
          <td>Beltrano Marcelo Silva</td>
          <td>49.957</td>
          <td><!-- Button trigger modal -->
<%= link_to '<i class="fa fa-money btn btn-primary" aria-hidden="true" data-toggle="modal" data-target="#myModal"> NFe</i>'.html_safe, "#"%>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Descrição</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div></td>
<td><%= link_to '<i class="fa fa-cloud-upload"></i>'.html_safe, "#", class: "btn btn-primary btn-sm" %></td>
        </tr>
        <tr>
          <td>Fulano da Silva Oliveira</td>
          <td>43.562</td>
          <td><!-- Button trigger modal -->

<%= link_to '<i class="fa fa-money btn btn-primary" aria-hidden="true" data-toggle="modal" data-target="#myModal"> NFe</i>'.html_safe, "#"%>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Descrição</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</td>
<td><%= link_to '<i class="fa fa-cloud-upload"></i>'.html_safe, "#", class: "btn btn-primary btn-sm" %></td>

        </tr>
        <tr>
          <td>Ciclano Oliveira da Silva</td>
          <td>56.587</td>
          <td><!-- Button trigger modal -->
<%= link_to '<i class="fa fa-money btn btn-primary" aria-hidden="true" data-toggle="modal" data-target="#myModal"> NFe</i>'.html_safe, "#"%>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Descrição</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div></td>
<td><%= link_to '<i class="fa fa-cloud-upload"></i>'.html_safe, "#", class: "btn btn-primary btn-sm" %></td>
        </tr>
        <tr>
          <td>Beltrano Marcelo Silva</td>
          <td>49.957</td>
          <td><!-- Button trigger modal -->
<%= link_to '<i class="fa fa-money btn btn-primary" aria-hidden="true" data-toggle="modal" data-target="#myModal"> NFe</i>'.html_safe, "#"%>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Descrição</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div></td>
<td><%= link_to '<i class="fa fa-cloud-upload"></i>'.html_safe, "#", class: "btn btn-primary btn-sm" %></td>
        </tr>
        <tr>
          <td>Fulano da Silva Oliveira</td>
          <td>43.562</td>
          <td><!-- Button trigger modal -->
<%= link_to '<i class="fa fa-money btn btn-primary" aria-hidden="true" data-toggle="modal" data-target="#myModal"> NFe</i>'.html_safe, "#"%>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Descrição</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div></td>
<td><%= link_to '<i class="fa fa-cloud-upload"></i>'.html_safe, "#", class: "btn btn-primary btn-sm" %></td>
        </tr>
        <tr>
          <td>Ciclano Oliveira da Silva</td>
          <td>56.587</td>
          <td><!-- Button trigger modal -->
<%= link_to '<i class="fa fa-money btn btn-primary" aria-hidden="true" data-toggle="modal" data-target="#myModal"> NFe</i>'.html_safe, "#"%>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Descrição</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div></td>
<td><%= link_to '<i class="fa fa-cloud-upload"></i>'.html_safe, "#", class: "btn btn-primary btn-sm" %></td>
        </tr>
        <tr>
          <td>Beltrano Marcelo Silva</td>
          <td>49.957</td>
          <td><!-- Button trigger modal -->
<%= link_to '<i class="fa fa-money btn btn-primary" aria-hidden="true" data-toggle="modal" data-target="#myModal"> NFe</i>'.html_safe, "#"%>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Descrição</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div></td>
<td><%= link_to '<i class="fa fa-cloud-upload"></i>'.html_safe, "#", class: "btn btn-primary btn-sm" %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Pagamentos</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Previsão Mês</td>
          <td>R$263.214</td>
        </tr>
        <tr>
          <td>Último Mês</td>
          <td>R$229.784</td>
        </tr>
        <tr>
          <td>Ano</td>
          <td>R$1.563.214</td>
        </tr>
        <tr>
          <td># Médicos Mês</td>
          <td>18</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
