

  <div class="col-md-3 dash">
    <div class="thumbnail">
      <%= image_tag "good_to_great.jpeg", class: "img-responsive" %>
      <div class="caption">
        <h4><%= link_to book.name, book_path(book) %></h4>
        <p>US$ <%= book.price/100 %></p>
      </div>
    </div>
  </div>
  <div class="col-md-3 dash">
    <div class="thumbnail">
      <%= image_tag "black_swan.jpeg", class: "img-responsive" %>
      <div class="caption">
        <h4><%= link_to book.name, book_path(book) %></h4>
        <p>US$ <%= book.price/100 %></p>
      </div>
    </div>
  </div>
