


<div class="row">
  <div class="col-md-6 text-center">
    <%= image_tag @book.image.url, class: "img-responsive" %>
  </div>
  <div class="col-md-6 text-center">

    <h3 class="page-header"><strong><%= @book.name %></strong> by <strong><%= @book.author %></strong></h3>
    <p><%= @book.description %></p>
    <p><strong>US$: <%= @book.price/100 %></strong></p>

    <% if current_user %>
      <%= form_tag buy_path(slug: @book.slug) do %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @book.name %>"
          data-amount="<%= @book.price %>"
          data-email="<%= current_user.email %>"
          data-locale="auto">
      </script>
      <% end %>
    <% else %>
      <p>Please log in to purchase this book</p>
    <% end %>

    <div class="btn-group btn-group-justified">
      <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-primary btn-block" %>
      <%= link_to 'Back', books_path, class: "btn btn-primary btn-block"%>
    </div>

  </div>
</div>
